<footer>
    <div class="container">
        <p>
            The <a href="https://www.bits.vib.be">VIB Bioinformatics Core</a>
            provides researchers with online training materials and connects them with local trainers in Belgium in the framework of <a href="https://www.elixir-belgium.org">ELIXIR Belgium</a>. We are very grateful to be able to use the excellent work of the <a href="https://galaxyproject.org/teach/gtn/">Galaxy training network</a> as basis of this web site.
        </p>
    </div>
</footer>
