<footer>
   <div class="well row">
       <div class="col-md-3 text-center">				
         <span class="slogan">SCIENCE MEETS LIFE</span>
       </div>
       <div class="col-md-6 text-center">	
        <a href="{{ site.github.repository_url }}" title="View on GitHub" class="margin20">
                            {% icon github %} View on GitHub
                        </a>
       </div>
       <div class="col-md-3 text-center">
		<a href="http://www.bits.vib.be"><img src="{{ site.baseurl }}/{{ site.small_logo }}" alt="VIB logo"></a>
       </div>
   </div>
</footer>
