<div id="banner" class="page-banner row" role="banner">
      <div class="page-banner__container container">
          <div class="region region-banner">
    <div id="block-vibfrontpageintro" class="block-frontpage--intro block block-block-content block-block-content62c041d5-0ab8-457c-8589-a594c6630402">
    
      
            <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"><p>&nbsp;</p>

<p>&nbsp;</p>
</div>
      
  </div>
<div id="MenuBox"> 
	<div class="TopicBox" style="padding-top:2px; margin-left:4%;">
		<a class="LinkBox" href="#basic">Basic Bioinformatics</v>

    	</div>
	 <div class="TopicBox" style="padding-top:15px;">
		<a class="LinkBox" href="#software">Software</a>

	</div>
 	 	<div class="TopicBox" style="padding-top:2px;">
		<a class="LinkBox" href="#advanced">Advanced Bioinformatics</a>

    	 </div>
 	 	<div class="TopicBox" style="padding-top:15px;">
		<a class="LinkBox" href="#omics">Omics</a>
    	 </div>

 	 	<div class="TopicBox" style="padding-top:15px;">
		<a class="LinkBox" href="#statistics">Statistics</a>
    	 </div>
		 
 	 	<div class="TopicBox" style="padding-top:15px;">
		<a class="LinkBox" href="#programming">Programming</a>
    	 </div>
</div> 
</div>  </div> </div>
