<header class="well row">
    <div id="logo" class="col-md-3 col-lg-2 text-center">
       <a href="{{ site.baseurl }}/">
           <img src="{{ site.baseurl }}/{{ site.logo }}" height="60" alt
="VIB logo" class="margin20">
       </a>
    </div>
    <div class="col-md-3 col-lg-8 text-center">
                <h2>Bioinformatics Training</h2>
                <h5>Collection of courses developed and maintained by VIB Bioinformatics Core</h5>
    </div>
    <div class="col-md-3 col-lg-2 text-right form-group label-floating" id="help">
       {% include _includes/help.html %}
    </div>
</header>
