---
layout: base
---
{% include _includes/default-header-vib.html %}
<div class="container main-content">

{% include _includes/default-top-vib.html %}

        <div class="row">
          <div class="col-md-12" role="main">
                <h1>About</h1>
<p>This website contains training material from the VIB Bioinformatics Core.</p>
<p><b>VIB Bioinformatics Core</b><br>
Rijvisschestraat 126<br>
9052 Ghent<br>
Belgium<br><br>
<b>Tel:</b> +32 9 248 16 00<br>
<b>Mail: </b><a href="mailto:bits@vib.be" style="color:#ff681e;">bits@vib.be</a><br>
<b>Website: </b><a href="https://www.bits.vib.be/" target="_blank" style="color:#ff681e;">www.bits.vib.be</a> | <a href="https://twitter.com/vibbioinfocore" target="_blank" style="color:#ff681e;">@vibbioinforcore</a><br><br>
Want to register for one of our hands-on training sessions? Please visit the <a href="https://training.vib.be/home/category/bioinformatics-19" target="_blank" style="color:#ff681e;">VIB training website</a>.
</p>
<br>
<h2>License</h2>
<p>This work is licensed under the <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.</p>
<p>
The <a href="https://www.bits.vib.be" target="_blank" style="color:#ff681e;">VIB Bioinformatics Core</a> provides researchers with online training materials and connects them with local trainers in Belgium in the framework of <a href="https://www.elixir-belgium.org" target="_blank" style="color:#ff681e;">ELIXIR Belgium</a>. We are very grateful to be able to use the excellent work of the <a href="https://galaxyproject.org/teach/gtn/" target="_blank" style="color:#ff681e;">Galaxy training network</a> as basis of this web site.
</p>
<br>
<h2>Acknowledgment and Funding</h2>

We would like to thank all <a href="{{ site.baseurl }}/hall-of-fame">contributors</a> to our training materials, and our funding sources:<br><br>
<a href="http://www.vib.be/en" target="_blank"><img src="/training-material/assets/images/logo.svg" alt="VIB" width="120px" style="margin-right:60px;"></a>
<a href="https://www.elixir-belgium.org/" target="_blank"><img src="{{ site.baseurl }}/shared/images/elixir.png" alt="Elixir" width="120px"></a>
</div>
</div>
</div>
{% include _includes/default-footer.html %}
