---
layout: base
---
{% include _includes/default-header-vib.html %}
<div class="container main-content">

{% include _includes/default-top-vib.html %}

                <h2>How to contribute?</h2>
                First off, thanks for taking the time to contribute!<br><br>
                You can report mistakes or errors, create more contents, etc. Whatever is your background, there is probably a way to do it: via the GitHub website, via command-line. If you feel it is too much, you can even write it with any text editor and contact us: we will work together to integrate it.<br><br>
                To get you started, check our <a href="{{ site.baseurl }}/topics/contributing/" target="_blank">dedicated tutorials</a> or our <a href="{{ site.baseurl }}/faq">Frequently Asked Questions</a>

</div>
{% include _includes/default-footer.html %}
