---
layout: base
---
<div class="container main-content">

{% include _includes/default-header.html %}
{% assign contributors = site.data['contributors'] %}

{% assign sorted_topics = "" | split: "," %}
{% assign sorted_topics_pre = site.data | sort | order: "title" %}

{% for topic in sorted_topics_pre %}
    {% if topic[0] == "introduction" %}
        {% assign sorted_topics = sorted_topics | unshift: topic %}
    {% else %}
        {% assign sorted_topics = sorted_topics | push: topic %}
    {% endif %}
{% endfor %}

        <div class="row">
          <div class="col-md-9" role="main">
	    <div class="bs-docs-section">
              <div id="results"></div>
              <h3 id="basics" class="page-header">Basic Bioinformatics</h3>
              <table class="table table-striped">
                    <thead> 
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "basics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
              </table>
              <h3 id="software" class="page-header">Software</h3>
              <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "software" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
              </table>
              <h3 id="omics" class="page-header">Omics</h3>
              <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "omics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
              </table>
              <h3 id="advanced" class="page-header">Advanced Bioinformatics</h3>
              <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "advanced" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
              </table>
              <h3 id="programming" class="page-header">Programming</h3>
              <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "programming" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
              </table>
              <h3 id="statistics" class="page-header">Statistics</h3>
              <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "statistics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
              </table> 
            </div>
          </div>
          <div class="col-md-3" role="complementary">
            <script async src="https://cse.google.com/cse.js?cx=017739800329524378694:s0qnewct9yu"></script>
	    <div class="gcse-search"></div>
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
             <ul class="nav bs-docs-sidenav">
              <li><a href="#basics">Basics Bioinformatics</a></li>
              <li><a href="#software">Software</a></li>
              <li><a href="#omics">Omics</a></li>
              <li><a href="#advanced">Advanced Bioinformatics</a></li>
              <li><a href="#programming">Programming</a></li>
              <li><a href="#statistics">Statistics</a></li>
             </ul>
             <a class="back-to-top" href="#top">Back to top</a>
            </nav>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Basics Bioinformatics</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "basics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
       
                <h3>Scientific Software</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</td>
                            <th>Tutorials</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "software" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Basic Bioinformatics</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Tutorials</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "basics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Advanced Bioinformatics</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Tutorials</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "advanced" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Programming</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Tutorials</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "basics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Statistics</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Tutorials</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "statistics" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Developers and Admins</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Tutorials</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].type == "admin-dev" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <h2>How to contribute?</h2>

                <p>First off, thanks for taking the time to contribute!</p>

                <p>You can report mistakes or errors, create more contents, etc. Whatever is your background, there is probably a way to do it: via the GitHub website, via command-line. If you feel it is too much, you can even write it with any text editor and contact us: we will work together to integrate it.</p>

                <h3>Contributors and Instructors</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Tutorials</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for topic in sorted_topics %}
                        {% if topic[1].type == "instructors" %}
                        <tr>
                            {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                            <td><a href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a></td>
                            <td>{{ tutorial_number }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col">
            <h2>Acknowledgment and Funding</h2>
        
            We would like to thank all <a href="{{ site.baseurl }}/hall-of-fame">contributors</a> to our 
            training materials, and our funding sources:
            <div class="row">
		<div class="col-md-6"> 

            <a href="http://www.vib.be/"><img src="http://www.vib.be/Style%20Library/VIB%20Styles/Images/Logo.png" alt="VIB" width="40%" style="max-width:100%;"></a>
           </div>
	   <div class="col-md-6"> 
 
            <a href="https://www.elixir-belgium.org/"><img src="{{ site.baseurl }}/shared/images/elixir.png" alt="Elixir" width="40%" style="max-width:100%;"></a>
        </div> 
        </div>
        </div>
        <div class="col">
                <h2>License</h2>
                <p>This work is licensed under the <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
              <p>
            The <a href="https://www.bits.vib.be">VIB Bioinformatics Core</a>
            provides researchers with online training materials and connects th
em with local trainers in Belgium in the framework of <a href="https://www.elixir-belgium.org">ELIXIR Belgium</a>. We are very grateful to be able to use the excellent work of the <a href="https://galaxyproject.org/teach/gtn/">Galaxy training network</a> as basis of this web site.
             </p>
        </div>
       </div>

{% include _includes/default-footer.html %}
</div>

