---
layout: base
---
{% include _includes/default-header-vib.html %}
<div class="container main-content">

{% include _includes/default-top-vib.html %}
{% include _includes/default-banner-vib.html %}
{% assign contributors = site.data['contributors'] %}

{% assign sorted_topics = "" | split: "," %}
{% assign sorted_topics_pre = site.data | sort | order: "title" %}

{% for topic in sorted_topics_pre %}
    {% if topic[0] == "introduction" %}
        {% assign sorted_topics = sorted_topics | unshift: topic %}
    {% else %}
        {% assign sorted_topics = sorted_topics | push: topic %}
    {% endif %}
{% endfor %}

        <div class="row">
          <div class="col-md-12" role="main">
	    <div class="bs-docs-section">
              <div id="results"></div>
         <h3 id="basics" class="page-header">Basic Bioinformatics</h3>
<table><tr><td>
	{% for topic in sorted_topics %}
	{% if topic[1].category == "basics" %}
	{% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
<div id="TutorialBox">
    <div class="BoxName">
      <a class="BoxName"  href="baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a>
	  </div>
    <div class="BoxNumber1" style="padding-left:5px">TUTORIALS</div>
    <div class="BoxNumber2">{{ tutorial_number }}</div>
</div>
	{% endif %}
	{% endfor %}</td></tr></table>
              <h3 id="software" class="page-header">Software</h3>
              <table><tr><td>
                    {% for topic in sorted_topics %}
                        {% if topic[1].category == "software" %}
                        {% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
                           <div id="TutorialBox">
    <div class="BoxName">
       <a class="BoxName" href="{{ site.baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a>
                           </div>
    <div class="BoxNumber1" style="padding-left:5px">TUTORIALS</div>
    <div class="BoxNumber2">{{ tutorial_number }}</div></div>
                        {% endif %}
                    {% endfor %}
             </td></tr></table>
              <h3 id="omics" class="page-header">Omics</h3>
<table><tr><td>
	{% for topic in sorted_topics %}
	{% if topic[1].category == "omics" %}
	{% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
<div id="TutorialBox">
    <div class="BoxName">
      <a class="BoxName"  href="baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a>
	  </div>
    <div class="BoxNumber1" style="padding-left:5px">TUTORIALS</div>
    <div class="BoxNumber2">{{ tutorial_number }}</div>
</div>
	{% endif %}
	{% endfor %}
	</td></tr></table>
              <h3 id="advanced" class="page-header">Advanced Bioinformatics</h3>
       <table><tr><td>
	{% for topic in sorted_topics %}
	{% if topic[1].category == "advanced" %}
	{% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
<div id="TutorialBox">
    <div class="BoxName">
      <a class="BoxName"  href="baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a>
	  </div>
    <div class="BoxNumber1" style="padding-left:5px">TUTORIALS</div>
    <div class="BoxNumber2">{{ tutorial_number }}</div>
</div>
	{% endif %}
	{% endfor %}
	</td></tr></table>
              <h3 id="programming" class="page-header">Programming</h3>
<table><tr><td>
	{% for topic in sorted_topics %}
	{% if topic[1].category == "programming" %}
	{% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
<div id="TutorialBox">
    <div class="BoxName">
      <a class="BoxName"  href="baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a>
	  </div>
    <div class="BoxNumber1" style="padding-left:5px">TUTORIALS</div>
    <div class="BoxNumber2">{{ tutorial_number }}</div>
</div>
	{% endif %}
	{% endfor %}
	</td></tr></table> 
              <h3 id="statistics" class="page-header">Statistics</h3>
<table><tr><td>
	{% for topic in sorted_topics %}
	{% if topic[1].category == "statistics" %}
	{% assign tutorial_number = site.pages | topic_filter:topic[1].name | topic_count %}
<div id="TutorialBox">
    <div class="BoxName">
      <a class="BoxName"  href="baseurl }}/topics/{{ topic[1].name }}/">{{ topic[1].title }}</a>
	  </div>
    <div class="BoxNumber1" style="padding-left:5px">TUTORIALS</div>
    <div class="BoxNumber2">{{ tutorial_number }}</div>
</div>
	{% endif %}
	{% endfor %}
	</td></tr></table> 
            </div>
          </div>
        </div>
</div>
{% include _includes/default-footer.html %}

