---
layout: base
---
{% include _includes/default-header-vib.html %}
<div class="container main-content">

{% include _includes/default-top-vib.html %}

<h2>Search</h2>
<style>
    #opensolr-content{
        width:100%;
        position:relative;
        height:92vh;
    }
    #opensolr-content iframe{
        position:absolute;
        height: 100%;
        width:100%;
        border: none;
    }
</style>
<div id="opensolr-content">
    <iframe style="position: absolute; height: 90%; width:100%; border: none" width="100%" height="90%" frameborder="0" src="https://opensolr.com/search/BITS_Material" />
</div>
{% include _includes/default-footer.html %}
